venv
Assay-Output
Training-Output

/Analysis/Training-Data/Action-Use-Data/
/Analysis/Training-Data/Metrics
/Analysis/Action-Choice-Data/
/Analysis/Calibration/Zimmerman/
/Analysis/Calibration/Prey-Tracking/
/Analysis/Calibration/SNR/
/Analysis/Calibration/Image/
/Analysis/__pycache__/

/Environment/__pycache__/
/Environment/Fish/__pycache__/
/Environment/Action_Space/__pycache__/

/Networks/__pycache__/
/Networks/A2C/__pycache__/
/Networks/DQN/__pycache__/
/Networks/PPO/__pycache__/

/Services/__pycache__/
/Services/A2C/__pycache__/
/Services/DQN/__pycache__/
/Services/PPO/__pycache__/

/Tools/__pycache__/

