*.pyc
venv
Assay-Output
Training-Output
GPU-Caches

/Analysis-Output/

/Analysis/Training/Action-Use-Data/
/Analysis/Training/Metrics
/Analysis/Action-Choice-Data/
/Analysis/Data/
/Analysis/__pycache__/

/Analysis/Calibration/Zimmerman/
/Analysis/Calibration/Prey-Tracking/Particle-Tracking-Data/
/Analysis/Calibration/Image/
/Analysis/Calibration/Visual-Distance/SNR/
/Analysis/Calibration/Motor-Effect-Noise/Motor-Noise-Data/
/Analysis/Calibration/Visual-Distance/LuminanceCalibration/
/Analysis/Calibration/Visual-Distance/Luminance-Distinguishability/
/Analysis/Calibration/Visual-Distance/Full-Model-Distinguishability-Scores/

/Analysis/Video/Current-Videos/
/Analysis/Figures/Panels/
/Analysis/Neural/MEI/MEI-Models/
Analysis/Neural/Gradients/Gradients-Data/

/Analysis/Calibration/Motor-Effect-Noise/Bolton et al. (2019)/
/Analysis/Calibration/Motor-Effect-Noise/Marques

/Analysis/Behavioural/Continuous/All-Plots

/Environment/__pycache__/
/Environment/Fish/__pycache__/
/Environment/Action_Space/__pycache__/

/Networks/__pycache__/
/Networks/A2C/__pycache__/
/Networks/DQN/__pycache__/
/Networks/PPO/__pycache__/

/Services/__pycache__/
/Services/A2C/__pycache__/
/Services/DQN/__pycache__/
/Services/PPO/__pycache__/

/Tools/__pycache__/

